{
  "semi": true,
  "arrowParens": "avoid",
  "editorconfig": true,
  "singleAttributePerLine": false,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "endOfLine": "cr",
  "vueIndentScriptAndStyle": true
}